@charset "UTF-8";

* {
  user-select: none;
  letter-spacing: -0.031em;
  font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', sans-serif;
  line-height: 1.6;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-color: #b60217;
  --secondary-color: blue;
  --main-text-color: #3d3a35;
  --white: white;

  --title-lg: 40px;
  --title-md: 18px;

  --banner-font-lg: 21px;

  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 12px;

  --content-width: 1300px;
}
